:root {
    --card-bg: #181d3d;
}

* {
    /* border: 1px solid rgb(249, 249, 249); */
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #0e122b;
}

i {
    color: white;
    font-size: 50px;
}

.cont {
    width: 100%;
    max-height: 100vh;
}

.date {
    font-size: 18px;
    font-weight: 500;
    margin: 50px 0 0 80px;
}

.city {
    color: white;
    margin: 10px 0 0 80px;
    font-weight: 700;
    font-style: bold;
    font-size: 55px;
}

.data-cont {
    margin: 50px 0 0 0px;
    display: flex;
    justify-content: space-evenly;
    background: none;
}

.aqi-cont-common {
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 7px;
    backdrop-filter: blur(5px);
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 7px;
    background-color: #181d3d;
}


.aqi-cont {
    position: relative;
    left: 65px;
}

.w-cont {
    width: 400px;
    position: relative;
    left: 35px;
}

.aqi-head {
    font-size: 25px;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 15px;
}

.aqi {
    font-size: 60px;
    font-weight: 600;
}

.cond {
    font-size: 23px;
    margin-top: 10px;
}

.w-feel {
    margin-top: 4px;
}

.w-split {
    display: flex;

}

.w-right,
.w-left {
    width: 50%;
    text-align: center;
}

.w-img {
    margin-top: 10px;
}

.w-cond {
    font-size: 25px;
}

.comp-cont {
    display: flex;
    margin-top: 35px;
    width: 75%;
    height: 290px;
    margin-left: calc(25%/2);
}

.a-left,
.a-right {
    width: 50%;
}

.a-left-top {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.a-left-bottom {
    width: 100%;
    height: 100%;
}

.ph-1,
.ph-2 {
    width: 30%;
    height: 55px;
    background-color: var(--card-bg);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ph-head {
    font-size: 1.15em;
}

.ph-val {
    font-size: 1.15em;
}

.a-comp {
    width: 150px;
    height: 70px;
    background-color: var(--card-bg);
    border-radius: 4px;
    margin: 15px 15px 15px 15px;
}

.a-left-bottom-top {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.a-left-bottom-bottom {
    border: 1px solid white;
}

.a-left-bottom-top,
.a-left-bottom-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 50%;
}

.comp-head,
.comp-val {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comp-head {
    margin-top: 7px;
    margin-bottom: 7px;
    font-weight: 500;
}

.w-right-top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.w-comp {
    height: 70px;
    width: 210px;
    background-color: var(--card-bg);
    border-radius: 4px;
    text-align: center;
}

.w-comp-head,
.w-comp-val {
    display: block;
    font-size: 1.05em;
    font-weight: 500;
}

.w-comp-head {
    font-size: 1.05em;
    margin-top: 7px;
    margin-bottom: 5px;
}